---
BasedOnStyle: Microsoft
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: BeforeHash
AlwaysBreakTemplateDeclarations: "true"
...
